@model IEnumerable<AdopteDevWebApp.Models.Contract.GetContract>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des contrats</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Ajouter un contrat</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                <button class="btn btn-outline-primary">
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                </button> |
                <button class="btn btn-outline-info">
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                </button> |
                <button class="btn btn-outline-danger">
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </button>
</td>
        </tr>
}
    </tbody>
</table>
